body{
    scroll-behavior: smooth;
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

.nav-logo{
    text-align: left;
}
.heading h2{
    text-align: right;
}
.heading h3{
    text-align: right;
}

.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav-menu a{
    padding: 5px 10px;
    margin: 20px 0px;
    background-color: transparent;
    font-weight: bolder;
}

.profile .top-weather{
    width:120px;
    position: absolute;
    right: 100px;
    
    transition: width 2s, transform 2s;
    
}
.profile .top-weather:hover{
transform:rotate(360deg);
width:140px;
    
}
.profile .bottom-weather{
    width:120px;
    position: absolute;
    left: 140px;
    bottom: 20px;
    
    transition: width 2s, transform 2s;
    
}
.profile .bottom-weather:hover{
transform:rotate(360deg);
width:140px;
    
}

.profile-description p{
  color:rgb(11, 80, 23);
  text-align: center;
  width: 70%;
    margin-bottom: 10px;
    margin: 0 auto;
    font-size: 20px;
}

.about-me-description::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height:350px;
    width: 2px;
    background-color: blue;
}

.about-me-image {
    padding:50px 100px 0 0;
    
    
}
.about-me-image img:hover{
    transform: scale(1.4);
    transition: 1.s all;
    border-radius: 30%;
}

@supports not (display: flex){
    .nav-menu {
        display: block;
    }
}

.professional-experience{
    padding: 1% 5%;
}

button{
    width: 150px;
}
button:hover{
    width: 160px;
    height: 50px;
}