* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}
body {
    position: relative;
    scroll-behavior: smooth;
}
.nav-logo img {
    border: 5px solid rgb(196, 163, 223);
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.salam h1 {
    padding-top: 10px;
    text-shadow: 6px 4px 6px yellow;
}

h1 {
    padding-top: 100px;

    font-size: 25px;
    text-align: center;
}
h3 {
    font-size: 18px;
    text-align: center;
    padding-left: 0;
}

a {
    color: rgb(109, 15, 15);
    font-size: 15px;
    text-decoration: none;
}
[class*="col-"] {
    float: left;
    padding: 10px;
}
[class*="col-"] {
    width: 100%;
}
.navbar {
    background-color: coral;
    padding: 1% 7%;
    text-align: center;
}
.navbar::after {
    content: "";
    display: table;
    clear: both;
}
.navbar h2 {
    color: white;
    margin: 0;
    padding-top: 10px;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
   
}

.nav-menu a {
    background-color: #0c6168;
    border-radius: 10px;
    margin: 7px;
    padding: 10px;
    font-weight: bolder;
    
}
.nav-menu a:hover {
    background-color: #88b2b6;
}
p {
    text-align: justify;
    font-size: 15px;
}

.profile .top-weather {
    width: 100px;
    position: absolute;
    right: 60px;
    top: 10px;
    transition: transform 2s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 90%;
}
.profile .top-weather:hover {
    transform: rotate(360deg);
}
.profile {
    padding: 150px 10px;
    position: relative;
    text-align: center;
}
.profile-description h2 {
    font-family: cursive;
    font-size: 28px;
}
.profile-description p {
    color: rgb(18, 139, 39);
    text-align: center;
    width: 90%;
    font-size: 18px;
    margin: 0 auto 20px auto;
}

.profile .bottom-weather {
    width: 100px;
    position: absolute;
    left: 60px;
    bottom: 10px;
    transition: transform 2s;
    border-radius: 90%;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.profile .bottom-weather:hover {
    transform: rotate(360deg);
}
.div-clear {
    clear: both;
}
.about {
    font-size: 28px;
    text-align: center;
}

.about:hover {
    font-size: 32px;
    text-shadow: 6px 4px 6px yellow;
    color: blueviolet;
    transition: 1s;
}

.about-me {
    background-color: cadetblue;
    padding: 1% 7%;
    text-align: center;
    font-size: 28px;

    color: white;
    font-family: "Courier New", Courier, monospace;
}

.about-me::after {
    clear: both;
    display: table;
    content: "";
}

.dotted-hr {
    border: dotted 5px;
    border-bottom: none;
    margin: 20px auto;
    width: 80px;
    text-align: center;
}

.about-me-image img {
    border: 5px solid rgb(193, 164, 218);
    width: 200px;
    border-radius: 100px;
    box-shadow: rgb(126, 141, 128) 0px 20px 30px -10px;
}
.about-me-image img:hover {
    width: 250px;
    transition: 1s all;
    border-radius: 30%;
}

.about-me p {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    padding: 10px 10px;
}
.about-me p:hover{
    background-color: rgba(64, 127, 182, 0.418);
}
.about-me a {
    font-size: 1.2rem;
}

.card-description > ol {
    padding-left: 20px;
}

.professional-experience {
    padding: 1% 0%;
    background-color: darkcyan;
}
.work-experience {
    border: 1px solid black;
    border-radius: 10px;
}
.work-experience .card:hover {
    background-color: cornsilk;
}

.professional-experience .card {
    background-color: rgb(101, 148, 250);
    border-radius: 5px;

    transition: 0.5s;
    height: 550px;
}
.professional-experience .card:hover {
    box-shadow: rgb(215, 154, 223) 0px 20px 30px 10px;
}
.card-description {
    padding: 10px;
}
.card-description li {
    padding: 10px;
}
.card-icon {
    text-align: center;
    border-radius: 50px;
    padding: 5px;
    font-size: 60px;
}

.card-title h4 {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    background-color: chartreuse;
    padding: 5px;
}


.card-icon-edu {
    padding: 7px;
    text-align: center;
    font-size: 60px;
}

.educational-experience {
    border: 1px solid black;
    border-radius: 10px;
}
.educational-experience :hover {
    background-color: cornsilk;
}

.img {
    width: 50px;
}
.skills {
    border: 1px solid black;
    border-radius: 10px;
}
.skills .card:hover {
    background-color: cornsilk;
}
.skills-container > ul {
    padding-left: 20px;
}
.skills-container li {
    list-style: none;
    margin: 18px 10px;
    position: relative;
    text-transform: uppercase;
}
.skills-container li::before {
    content: "";
    background-color: rgb(127, 14, 233);
    height: 10px;
    width: 100%;
    position: absolute;
    top: calc(100% + 1px);
    border-radius: 5px;
    left: 0;
}
.skills-container li::after {
    content: "";
    background-color: rgb(80, 226, 43);
    height: 10px;
    left: 0;
    width: 0;
    position: absolute;
    top: calc(100% + 1px);
    border-radius: 5px;
    opacity: 0.8;

    animation-duration: 3s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.skills-container li.html::after {
    animation-name: html;
}
@keyframes html {
    to {
        width: 90%;
    }
}
.skills-container li.css::after {
    animation-name: css;
}
@keyframes css {
    to {
        width: 80%;
    }
}
.skills-container li.javascript::after {
    animation-name: javascript;
}
@keyframes javascript {
    to {
        width: 10%;
    }
}
.skills-container li.bootstrap::after {
    animation-name: bootstrap;
}
@keyframes bootstrap {
    to {
        width: 5%;
    }
}
.skills-container li.github::after {
    animation-name: github;
}
@keyframes github {
    to {
        width: 50%;
    }
}
.skills-container li.java::after {
    animation-name: java;
}
@keyframes java {
    to {
        width: 85%;
    }
}
.skills-container li.node::after {
    animation-name: node;
}
@keyframes node {
    to {
        width: 10%;
    }
}

.skills-container {
    font-weight: bold;
    padding-right: 45px;
}
.professional-experience::after {
    clear: both;
    display: table;
    content: "";
}

.Contact-area{
    background-color: #0c6168;
}

.contact-me{
    text-align: center;
    padding: 2% 7%;
}
.contact-me input,textarea{
    padding: 10px;
    font-size:18px;
    width: 100%;

}

.Contact-area::after {
    clear: both;
    display: table;
    content: "";
}

